{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" id="city" name="city" class="form-control" placeholder="Chicago, IL" /> </div>
                <button id="WeatherButton" class="btn btn-default">Get the Weather</button>
                <button id="DetectLocation" class="btn btn-default">Find My Location</button>
            </div>
        </div>
        <div class="row">
            <div class="card-group" id="Results"></div>
        </div>
    </div>

    <div style="display: none" class="card weatherTemplate">
        <div class="card-header h-25 weatherText"></div>
        <img class="card-img" />
        <div class="card-body weatherBody">
            <p class="card-text">
                <span class="weatherHigh"></span> / <span class="weatherLow"></span>
            </p>
        </div>
        <div class="card-footer h-25 weatherHeader"></div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'weather.js') }}"></script>
{% endblock %}
